In [1]:
import pandas as pd
import collections
import numpy as np

In [2]:
df_pdde = pd.read_csv('LPOINT_BIG_COMP_02_PDDE.csv')
df_clac = pd.read_csv('LPOINT_BIG_COMP_04_PD_CLAC.csv')
df_2 = df_pdde[['cust', 'pd_c', 'de_dt', 'buy_ct']]
df_24 = pd.merge(df_2, df_clac, how='left', on='pd_c')

c:\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df_24

,cust,pd_c,de_dt,buy_ct,pd_nm,clac_hlv_nm,clac_mcls_nm
0,M430112881,PD0290,20210101,1,남성티셔츠,남성의류,남성의류상의
1,M646853852,PD1369,20210101,1,기타주방일회용품,주방잡화,주방일회용품
2,M430112881,PD0290,20210101,1,남성티셔츠,남성의류,남성의류상의
3,M430112881,PD0290,20210101,1,남성티셔츠,남성의류,남성의류상의
4,M430112881,PD0290,20210101,1,남성티셔츠,남성의류,남성의류상의
...,...,...,...,...,...,...,...
4381738,M533286446,PD0507,20211231,1,백화점/마트모바일상품권,상품권,모바일상품권
4381739,M533286446,PD0507,20211231,1,백화점/마트모바일상품권,상품권,모바일상품권
4381740,M533286446,PD0507,20211231,1,백화점/마트모바일상품권,상품권,모바일상품권
4381741,M533286446,PD0507,20211231,1,백화점/마트모바일상품권,상품권,모바일상품권
4381742,M533286446,PD0507,20211231,1,백화점/마트모바일상품권,상품권,모바일상품권

In [4]:
def train_test(buy_cnt, pd):
    data_size = len(buy_cnt)
    train_size = round(data_size*0.8)
    
    train_cnt = buy_cnt[:train_size]
    test_cnt = buy_cnt[train_size:]
    train_pd = pd[:train_size]
    test_pd = pd[train_size:]
    
    return train_cnt, test_cnt, train_pd, test_pd


def train_top3(train_cnt, train_pd):
    pd_list = []

    for i in range(len(train_cnt)):
        pd_list.extend([train_pd[i]]*train_cnt[i])
            
    pd_cnt = collections.Counter(pd_list)
    train_top = pd_cnt.most_common(3)
    
    train_top3 = []
    for i in range(len(train_top)) :
        train_top3.append(train_top[i][0])
        
    return train_top3


def cust_acc(train, test):
    cnt = 0
    for i in train :
        if i in test :
            cnt += 1

    acc = round(cnt / len(train) * 100, 2)
    
    return acc


def total_acc(acc_list):
    acc_array = np.array(acc_list)
    acc_avg = np.mean(acc_array)
    
    return acc_avg

In [10]:
cust_list = df_24.groupby('cust').size()[df_24.groupby('cust').size()>=88].index

In [11]:
cust_list

Index(['M000136117', 'M000225114', 'M000494848', 'M000504230', 'M000557840',
       'M000621637', 'M000705571', 'M000871427', 'M000986912', 'M001231653',
       ...
       'M998905712', 'M998980052', 'M999002436', 'M999048029', 'M999153368',
       'M999213998', 'M999238704', 'M999515910', 'M999770689', 'M999962961'],
      dtype='object', name='cust', length=13500)

In [12]:
cust_list_1000 = np.random.choice(cust_list,1000, replace=False)

acc_list = []
df = df_24.sort_values('de_dt')

for i,j in enumerate(cust_list_1000) :
    data = df[df['cust']==j]
    
    buy_cnt = data['buy_ct'].values
    pd = data['pd_nm'].values
    
    train_cnt, test_cnt, train_pd, test_pd = train_test(buy_cnt, pd)
    
    train_top = train_top3(train_cnt, train_pd)
    
    acc = cust_acc(train_top, test_pd)
    acc_list.append(acc)
    
    if i%10 == 0:
        print(i,acc)
    
accuracy = total_acc(acc_list)
print(accuracy)

0 100.0
10 66.67
20 33.33
30 100.0
40 100.0
50 66.67
60 66.67
70 100.0
80 33.33
90 66.67
100 0.0
110 100.0
120 33.33
130 33.33
140 100.0
150 33.33
160 66.67
170 100.0
180 66.67
190 100.0
200 100.0
210 33.33
220 33.33
230 33.33
240 0.0
250 100.0
260 100.0
270 0.0
280 66.67
290 66.67
300 33.33
310 66.67
320 33.33
330 66.67
340 66.67
350 33.33
360 33.33
370 66.67
380 0.0
390 0.0
400 66.67
410 66.67
420 100.0
430 100.0
440 33.33
450 0.0
460 100.0
470 0.0
480 66.67
490 100.0
500 33.33
510 100.0
520 33.33
530 100.0
540 66.67
550 100.0
560 33.33
570 66.67
580 100.0
590 66.67
600 0.0
610 66.67
620 100.0
630 100.0
640 66.67
650 66.67
660 33.33
670 66.67
680 66.67
690 33.33
700 0.0
710 100.0
720 33.33
730 0.0
740 66.67
750 0.0
760 33.33
770 66.67
780 33.33
790 0.0
800 33.33
810 66.67
820 66.67
830 100.0
840 66.67
850 66.67
860 66.67
870 100.0
880 66.67
890 66.67
900 100.0
910 0.0
920 66.67
930 66.67
940 33.33
950 100.0
960 0.0
970 100.0
980 100.0
990 100.0
57.200160000000004